/* 
selector::pseudo-element
*/

h1::first-letter{
    font-size: 100px;
    color: red;
    background-color:  yellow;
}

h3::before{content: url(../images/Season-Spring-icon.png);}

h3::after{
    content:url(../images/Music-icon.png);
}